/* src/components/LandingPage.css */
:root {
  
}

.landing-page {
  font-family: Arial, sans-serif;
}
.logo img {
  width: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e007b;
  padding: 1rem 2rem;
}

.header .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.header .nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #f7f7f7;
}



.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.hero-text .highlight {
  color: #7a00ff;
}

.hero-text p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.hero-text ul {
  list-style: none;
  padding: 0;
}

.hero-text ul li {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

